.box1 {
  position: fixed;
  width: 150px;
  height: 150px;
  background-color: lightgrey;
  float: left;
}


header {
  font-size: 48px;
  margin-left: 20px;
  color: black;  
}

p {
  margin-left: 50px;
  margin-right: 30px;
  width: 800px;
  text-align: center;
  color: darkslategrey;
  background-color: white;
  padding: 20px;
  font-size: 20px;
  }



.box2 {
    width: 1000px;
    height: 300px;  
    position: relative;
    left: 50px;
    background-color: lightslategrey;
    float: left;
}

.box3 {
    position: absolute;
    top: 150px;
    left: 550px;
    width: 500px;
    height: 200px;
    background-color: darkslategrey;
    float: left;
    margin-top: 200px;
  }

